<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="MSServices" type="Configurator.ReplicationInfo.ServicesConfigSection, Configurator"/>
    <section name="Dependencies" type="Configurator.ReplicationInfo.DependencyConfigSection, Configurator"/>

  </configSections>
  <Dependencies>
    <generator type="FibbonacciGenerator.FibonacciGenerator, FibbonacciGenerator"/>
    <validator type = "Storage.Validator.UserValidator, Storage"/>
    <repository type= "Storage.Repository.Repository, Storage"/>
    <logger type="Configurator.Logging.DefaultLogger, Configurator"/>
    <sender type="Storage.Network.Sender, Storage"/>
    <receiver type="Storage.Network.Receiver, Storage"/>
  </Dependencies>

  <MSServices>
    <Services>
      <add  isMaster ="true" type = "Storage.Service.Master, Storage" port= "10000" host="http://localhost:11000/master"/>
      <add  port= "10001"  type = "Storage.Service.Slave, Storage" host="http://localhost:11000/slave1"/>
      <add  port= "10002"  type = "Storage.Service.Slave, Storage" host="http://localhost:11000/slave2"/>
      <add  port= "10003"  type = "Storage.Service.Slave, Storage" host="http://localhost:11000/slave3"/>
      <add  port= "10004"  type = "Storage.Service.Slave, Storage" host="http://localhost:11000/slave4"/>
      <add  port= "10005"  type = "Storage.Service.Slave, Storage" host="http://localhost:11000/slave5"/>
    </Services>
  </MSServices>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="trace"
              switchName="traceSourceSwitch"
              switchType="System.Diagnostics.SourceSwitch" >
        <listeners>
          <!--    <add name="textwriterListener"
            type="System.Diagnostics.TextWriterTraceListener"
            initializeData="out.txt"/>-->
          <add name="configConsoleListener"       
               type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="traceSwitch" value="1"/>
      <add name="traceSourceSwitch" value="Information" />
    </switches>
  </system.diagnostics>
  
    <appSettings>
        <add key="fileName" value="users.xml" />
    </appSettings>
  
</configuration>